:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --header-accent-color: #000000;
  --dark-side-color: #ffffff;
  --primary-color: #e5e5e5;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.section {
  padding: 0 94;
}

/* Header */

.container-nav {
  /* margin-left: 215px;
  margin-right: 185px; */
  align-items: center;
  /* padding-right: 30px; */
  display: flex;
  justify-content: space-between;
}

.first-nav-items,
.second-nav-items {
  display: inline-flex;
}
.second-nav-items {
  margin-left: auto;
}

.first-nav-items .item-nav,
.second-nav-items .item-adress {
  margin-right: 50px;
}

.first-nav-items .item-nav:last-child,
.second-nav-items .item-adress:last-child {
  margin-right: 0px;
}

.menu-link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-adress-link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-adress-link:hover {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.special-logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-accent-color);
}

.menu-link:hover {
  color: var(--accent-color);
}

/* body */

.main-title {
  /* position: absolute; */
  /* width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px; */
  
  text-align: center;
  background: #2f303a;
}
.hero {
  /* margin-top: 280px;
  margin-bottom: 120; */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--dark-side-color);
}
.main-btn-studio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--dark-side-color);
  background: var(--accent-color);
  cursor: pointer;
}
.title-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.title-studio {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
.text-studio-title {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.text-studio-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.footer-logo {
  font-size: 26px;
  line-height: 1.19;
  color: var(--dark-side-color);
}

.main-btn-portfolio {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
}
.main-btn-portfolio:hover,
.main-btn-portfolio:focus {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--dark-side-color);
  background: var(--accent-color);
  cursor: pointer;
}

.maps-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: var(--dark-side-color);
}
.maps-link:hover {
  color: var(--accent-color);
}
.footer-adress-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-adress-link:hover {
  color: var(--accent-color);
}
.footer {
  background-color: #2f303a;
}

.about-studio-title {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.about-studio-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}
